.navigation {
    display: flex;
    @include font ($size: 1.5rem, $height: 2.8rem, $weight: normal);
}

.navigation__link {
    text-decoration: none;
    color: $color-text;
    padding: 0 10px;
    @extend %transition;
    &:hover {
        color: $color-primary;
    }
}

.header__navigation {
    @include media-tablet {
        display: none;
    }
}